<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Landing Page || OWNIT</title>
    <link rel="shortcut icon" href="assets/img/OWNiT_favicon copy.png" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--
	  ========================================================================== 
			Fonts
		========================================================================== 
		-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700" rel="stylesheet">
    <link rel="stylesheet" href="assets/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/landing_main.css">
    <!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.js"></script> -->
    <!-- <style>
        /* Paste this css to your style sheet file or under head tag */
        /* This only works with JavaScript, 
if it's not present, don't show loader */
        
        .no-js #loader {
            display: none;
        }
        
        .js #loader {
            display: block;
            position: absolute;
            left: 100px;
            top: 0;
        }
        
        .se-pre-con {
            position: fixed;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
            z-index: 9999;
            background: url(".//assets/img/Preloader_2.gif") center no-repeat #fff;
        }
    </style> -->
    <!-- <script>
        //paste this code under the head tag or in a separate js file.
        // Wait for window load
        $(window).load(function() {
            // Animate loader off screen
            $(".se-pre-con").fadeOut("slow");;
        });
		</script> -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.js"></script>
    <script src="assets/js/form-validation.js"></script>

</head>

<body id="home">
    <div class="se-pre-con"></div>

    <!--
	  ========================================================================== 
			Navigation
		========================================================================== 
		-->
    <header id="ownit_header" class="ownit_header">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#"><img src="assets/img/OWNiT__logo.png" alt=""></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
								<span class="navbar-toggler-icon"></span>
						<!-- <i class="fa fa-bars"></i> -->
					  </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item activez">
                        <a class="nav-link" href="#home">home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#drive2OWN_actual">drive 2 own</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#drive2EARN_actual">drive 2 earn</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#register">register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contact">contact</a>
                    </li>
                    <!-- <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Dropdown
					</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#">Disabled</a>
                    </li> -->
                </ul>
                <!-- <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form> -->
            </div>
        </nav>
    </header>
    <!--
	  ========================================================================== 
			Banner
		========================================================================== 
		-->
    <section id="banner" class="banner">
        <div class="banner--container">
            <div class="jumbotron">
                <h1 class="display-4">Welcome, to OwnIt</h1>
                <!-- <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
							<hr class="my-4"> -->
                <p>
                    Ever wanted to Own your property? <br> With OwnIt no full or upfront payments. Ownit Offers you the premium platform to make your dreams come true, just sign up and OwnIt in less than 2 years.
                </p>
                <a class="btn btn-primary btn-lg" href="#products" role="button">Learn more</a>
            </div>
            <div class="card">
                <!-- <span class=" one"></span> -->
                <img class="card-img-top one" src="assets/img/davids-kokainis-639290-unsplash480px.jpg" alt="">
                <img class="card-img-top two" src="assets/img/davids-kokainis-639290-unsplash720px.jpg" alt="">
                <img class="card-img-top three" src="assets/img/davids-kokainis-639290-unsplash1080px.jpg" alt="">
            </div>
        </div>

    </section>


    <!--
	  ========================================================================== 
			Partners
		========================================================================== 
		-->

    <section id="partners" class="partners">
        <div class="partners--container">
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <!-- <div class="carousel-item active">
                        <img class="d-block one" src="assets/img/Ownit-partners__one.jpg" alt="First slide">
                    </div>
                    <div class="carousel-item two">
                        <img class="d-block " src="assets/img/Ownit-partners__two.jpg" alt="Second slide">
                    </div>
                    <div class="carousel-item three">
                        <img class="d-block" src="assets/img/Ownit-partners__three.jpg" alt="Third slide">
                    </div>-->
                    <div class="carousel-item four active">
                        <img class="d-block" src="assets/img/Ownit-partners__four.jpg" alt="Third slide">
                    </div>
                    <div class="carousel-item five">
                        <img class="d-block" src="assets/img/Ownit-partners__five.jpg" alt="Third slide">
                    </div>
                </div>
            </div>
        </div>

    </section>

    <!--
	  ========================================================================== 
			Products
		========================================================================== 
		-->
    <section id="products" class="products">
        <div class="container">
            <div class="row">
                <div class="card">
                    <div id="drive2OWN_actual" class="card-body">
                        <h3>drive2Own</h3>
                        <p class="card-text">This product is designed to help people looking to join Ride Sharing platforms and after a few payments they can buy the car.</p>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#drive2OWN"> 
													 <span class="products-toggler-icon"></span> 
													 Learn More 
												</button>
                    </div>
                </div>
                <div id="drive2EARN_actual" class="card">
                    <div class="card-body">
                        <h3>drive2Earn</h3>
                        <p class="card-text">This product is designed to help people looking to join Ride Sharing platforms find rental cars with they can drive for to money and return the cars after the rental expires. </p>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#drive2EARN">
														<span class="products-toggler-icon"></span>
														Learn More 
												</button>
                    </div>

                </div>
                <div class="card">
                    <div class="card-body">
                        <img class="card-img-top" src="assets/img/Coming-Soon-500x313.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--
	  ========================================================================== 
			Modals
		========================================================================== 
		-->

    <div class="modal fade" id="drive2OWN" tabindex="-1" role="dialog" aria-labelledby="drive2OWNModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <img src="assets/img/DR2OWN_logo.png" alt="">
                    <!-- <h5 class="modal-title" id="drive2OWNModalCenterTitle">drive2OWN</h5> -->
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          							<span aria-hidden="true">&times;</span>
        						</button>
                </div>
                <div class="modal-body">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Mi tempus imperdiet nulla malesuada. Lobortis elementum nibh tellus molestie nunc non blandit massa. Sit amet cursus sit amet dictum
                    sit amet justo donec. Nulla posuere sollicitudin aliquam ultrices sagittis orci a. Vestibulum mattis ullamcorper velit sed ullamcorper morbi. Etiam tempor orci eu lobortis elementum. Vel turpis nunc eget lorem. Lectus vestibulum mattis
                    ullamcorper velit. Pharetra sit amet aliquam id diam maecenas.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ownItForm" data-dismiss="modal">Fill Form</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="drive2EARN" tabindex="-1" role="dialog" aria-labelledby="drive2EARNModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="drive2EARNModalCenterTitle">drive2EARN</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
												<span aria-hidden="true">&times;</span>
										</button>
                </div>
                <div class="modal-body">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Mi tempus imperdiet nulla malesuada. Lobortis elementum nibh tellus molestie nunc non blandit massa. Sit amet cursus sit amet dictum
                    sit amet justo donec. Nulla posuere sollicitudin aliquam ultrices sagittis orci a. Vestibulum mattis ullamcorper velit sed ullamcorper morbi. Etiam tempor orci eu lobortis elementum. Vel turpis nunc eget lorem. Lectus vestibulum mattis
                    ullamcorper velit. Pharetra sit amet aliquam id diam maecenas.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ownItForm" data-dismiss="modal">Fill Form</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="ownItForm" tabindex="-1" role="dialog" aria-labelledby="ownItFormModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <img src="assets/img/OWNiT__logo.png" alt="">
                    <!-- <h5 class="modal-title" id="ownItFormModalCenterTitle">OwnIt</h5> -->
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
												<span aria-hidden="true">&times;</span>
										</button>
                </div>
                <div id="loader"></div>
                <div id="thanksModal" class="modal-body thanks-body">
                    <img class='thanks-body__img' src="assets/img/checked.svg" alt="">
                    <h4 class="text-center">Thank you for registering</h4>
                    <p class="text-center">we'll contact you as soon as the project kicks off</p>
                    <div class="modal-footer">
                        <button id="closemodal" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                    </div>
                </div>
                <div class="modal-body form-body">
                    <form id="ownItForm-main">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputFirstName">First Name</label>
                                <input type="text" class="form-control" id="inputFirstName" name='firstname' placeholder="John">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputLastName">Last Name</label>
                                <input type="text" class="form-control" id="inputLastName" name='lastname' placeholder="Doe">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label for="emailAddress">Email address</label>
                                <input type="email" name='email' class="form-control" id="emailAddress" placeholder="name@example.com">
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputNumber">Mobile number</label>
                                <input name='number' type="tel" class="form-control" id="inputNumber" placeholder="example: 08012345678">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputProduct">Product</label>
                                <select id="inputProduct" class="form-control" name='product'>
																		<option selected></option>
																		<option >Drive2OWN</option>
																		<option>Drive2EARN</option>
																</select>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary" data-target="#thanksModal">Save changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <!--
	  ========================================================================== 
			Register
		========================================================================== 
		-->
    <section id="register" class="register">
        <div class="register--container">
            <h2>
                START TODAY, OWNIT
            </h2>
            <button id="openmodal" type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#ownItForm">
							Register
						</button>
        </div>
    </section>
    <!--
	  ========================================================================== 
			Contact
		========================================================================== 
		-->
    <section id="contact" class="contact">
        <div class="container contact--container">
            <div class="contact__links--div">
                <h4>links</h4>
                <ul class="navbar-nav contact__links">
                    <li class="nav-item active">
                        <a class="nav-link" href="#home">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#drive2OWN_actual">drive 2 OWN</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#drive2EARN_actual">drive 2 EARN</a>
                    </li>
                </ul>
            </div>

            <div class="contact__info">
                <h4 class="contact__info--header">
                    contact
                </h4>
                <div>
                    <span>
							<p>173 Ogudu Road, <span class="address">G.R.A Ogudu - Lagos</span></p>
                    </span>
                </div>
                <div>
                    <span>
													<a href="mailto:peter@bosscoop.africa"><p>@Bosscoop Africa</p> </a>
										</span>
                </div>
                <div>
                    <span>
												<a href="tel:+2348054481614"><p>Bosscoop Africa <span class="number">08054481614</span></p>
                    </a>
                    </span>
                </div>
            </div>

            <div class="contact__social--div">
                <h4>Social</h4>
                <ul class="navbar-nav contact__social">
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span class="contact-toggler-icon facebook"></span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span class="contact-toggler-icon linkedin"></span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span class="contact-toggler-icon twitter"></span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span class="contact-toggler-icon instagram"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </section>




    <!--
	  ========================================================================== 
			Footer
		========================================================================== 
		-->

    <footer>
        <div class="container">
            <div class="row">
                <p> &#169; copyright <strong>OwnIT</strong> 2018 </p>
            </div>
        </div>
    </footer>









    <!--
	  ========================================================================== 
			Scripts 
		========================================================================== 
		-->

    <script src="assets/js/app.js "></script>

    <!-- <script src="assets/plugins/jquery.min.js "></script> -->
    <script src="assets/plugins/popper.min.js "></script>
    <script src="assets/plugins/bootstrap/js/bootstrap.min.js "></script>

    <script src="assets/js/smoothScroll.js"></script>

    <!-- <script src="assets/js/sideNav.js"></script>
    
		<script src="assets/js/navBarScroll.js"></script> -->

</body>

</html>