<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Legal || OWNIT</title>
    <link rel="shortcut icon" href="assets/img/OWNiT_favicon_copy.png" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--
	  ========================================================================== 
			Fonts
		========================================================================== 
		-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700" rel="stylesheet">
    <link rel="stylesheet" href="assets/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/terms.css">
</head>

<body>
    <!--
	  ========================================================================== 
			Navigation
		========================================================================== 
		-->
    <div class="div-nav">
        <button class="btn btn-default">
            <a href="/#drive2own-how_it_works">back to OwnIt</a>
        </button>
    </div>
    <div class="card">
        <div class="card-header">
            <h2> legal</h2>
        </div>
        <div class="card-body">
            <h4 class="card-title">terms and conditions</h4>
            <span class="card-text"> <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Egestas tellus rutrum tellus pellentesque eu. Eu mi bibendum neque egestas congue. Nunc eget lorem dolor sed viverra
                ipsum nunc aliquet bibendum. Nullam non nisi est sit amet facilisis magna. Odio tempor orci dapibus ultrices in. Tempor commodo ullamcorper a lacus. Nunc sed velit dignissim sodales ut. Laoreet id donec ultrices tincidunt arcu non sodales
                neque sodales. Phasellus vestibulum lorem sed risus.
              </p>  
              <p>
                  Duis at consectetur lorem donec massa. Quisque sagittis purus sit amet volutpat consequat mauris nunc congue. Vitae suscipit tellus mauris a diam. Bibendum ut tristique et egestas
                  quis ipsum. Volutpat odio facilisis mauris sit amet massa. Integer enim neque volutpat ac tincidunt vitae semper quis lectus. Tellus cras adipiscing enim eu turpis egestas pretium aenean pharetra. Mauris cursus mattis molestie a iaculis
                  at. Orci ac auctor augue mauris augue neque gravida. Netus et malesuada fames ac turpis egestas maecenas pharetra convallis. Nam at lectus urna duis convallis convallis tellus id interdum. Mattis molestie a iaculis at erat pellentesque
                  adipiscing. Sed egestas egestas fringilla phasellus faucibus scelerisque eleifend. Dui id ornare arcu odio ut sem nulla pharetra. Consectetur libero id faucibus nisl tincidunt eget nullam non. Consequat ac felis donec et odio pellentesque.
                  Orci ac auctor augue mauris augue.
              </p> 
             <p>
                Arcu vitae elementum curabitur vitae. Purus in massa tempor nec feugiat nisl. Scelerisque mauris pellentesque pulvinar pellentesque. At risus viverra adipiscing at in tellus integer. Nunc sed blandit
                libero volutpat sed cras. Vel elit scelerisque mauris pellentesque pulvinar pellentesque habitant. Urna nunc id cursus metus aliquam eleifend mi in. Egestas tellus rutrum tellus pellentesque eu tincidunt tortor aliquam nulla. Magna fermentum
                iaculis eu non diam phasellus. Eget nunc lobortis mattis aliquam faucibus. Volutpat sed cras ornare arcu dui vivamus arcu felis bibendum. Dui id ornare arcu odio ut. Diam volutpat commodo sed egestas egestas fringilla phasellus faucibus
                scelerisque. Hac habitasse platea dictumst vestibulum rhoncus est pellentesque elit ullamcorper. Et pharetra pharetra massa massa ultricies. Aliquam etiam erat velit scelerisque in. Blandit cursus risus at ultrices mi tempus. Habitasse
                platea dictumst quisque sagittis purus.
             </p> 
             <p>
                Mi bibendum neque egestas congue quisque egestas. Metus aliquam eleifend mi in nulla. Dictum fusce ut placerat orci nulla pellentesque dignissim enim. Dui id ornare arcu odio ut sem nulla. Id
                aliquet risus feugiat in ante metus dictum at tempor. Placerat duis ultricies lacus sed turpis tincidunt id. Facilisis gravida neque convallis a cras semper auctor neque vitae. At augue eget arcu dictum varius duis. Egestas dui id ornare
                arcu. Elit at imperdiet dui accumsan sit amet nulla facilisi. Sem integer vitae justo eget magna fermentum iaculis eu non. Volutpat odio facilisis mauris sit amet massa vitae tortor condimentum. Neque aliquam vestibulum morbi blandit cursus
                risus. 
             </p> 
             <p>
                Eget egestas purus viverra accumsan in nisl nisi.  Posuere lorem ipsum dolor sit amet. Enim tortor at auctor urna nunc id. Eget mi proin sed libero enim sed faucibus turpis in. Scelerisque felis imperdiet proin fermentum
                leo vel orci porta. Urna et pharetra pharetra massa massa ultricies mi quis. Morbi tincidunt ornare massa eget egestas purus viverra accumsan in. Amet justo donec enim diam. Viverra vitae congue eu consequat ac felis donec. Duis ultricies
                lacus sed turpis. Iaculis eu non diam phasellus vestibulum. Pellentesque habitant morbi tristique senectus et netus. Adipiscing at in tellus integer.
             </p>
            </span>
        </div>
    </div>
</body>

</html>