/* ==========================================================================
   Body 
   ========================================================================== */

*,
 ::after,
::before {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}


/* ==========================================================================
   Body 
   ========================================================================== */

body {
    background-color: black;
}


/* ==========================================================================
   Navigation 
   ========================================================================== */

nav {
    background-color: transparent !important;
}


/* ==========================================================================
   Carousel
   ========================================================================== */

.banner {
    height: 100% !important;
}

.carousel-item img {
    max-height: 100vh !important;
}