/* ==========================================================================
   Body 
   ========================================================================== */

*,
 ::after,
::before {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}


/* ==========================================================================
   Body 
   ========================================================================== */

body {
    background-color: #fff;
}


/* ==========================================================================
   Navigation 
   ========================================================================== */

.bosscoop__navbar {
    background-color: transparent !important;
    z-index: 3;
    padding-top: 10px;
}

.bosscoop__navbar--anchor,
.bosscoop__navbar--anchor:active {
    color: #fff !important;
    text-transform: uppercase;
}

.bosscoop__navbar button {
    background-color: transparent !important;
    border-color: transparent !important;
    color: #fff !important;
}

.bosscoop__navbar button:focus,
.bosscoop__navbar button:active,
{
    background-color: transparent !important;
    border-color: transparent !important;
    color: #fff !important;
}

.bosscoop__navbar--text,
.bosscoop__navbar--hr {
    visibility: hidden;
}


/* ==========================================================================
   Carousel
   ========================================================================== */

.banner {
    z-index: 2;
    margin-top: -100px;
    height: 100vh !important;
    background-color: rgba(0, 0, 0, .3);
}

.banner--backdrop {
    position: absolute;
    top: 0;
    background: #000;
    margin-top: -100px;
    height: 100vh !important;
}

.carousel-inner {
    z-index: -1;
    height: 100%;
}

.carousel-item img {
    height: 100vh !important;
    width: 100vw !important;
}


/* .carousel-indicators li {
    position: relative;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 30px;
    height: 3px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    /* background-color: rgba(133, 33, 83, .5); 


}*/

.carousel-indicators .active {
    background-color: rgba(133, 33, 83, .9);
    /* background-color: #fff; */
}


/* ==========================================================================
  Features
   ========================================================================== */

.features {
    padding: 20px 0 30px;
    background-color: rgba(33, 131, 129, .05);
}

.features__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}

.features hr {
    border: 2px solid #832153;
    width: 7rem;
}

.features .card {
    margin: 20px 0 0;
    border: none;
}

.features .card-body {
    font-size: 1.1em;
    font-weight: 500;
    line-height: 25px;
}

.card-body__header {
    display: flex;
    justify-content: center;
    padding: 20px 0;
    margin-top: -20px;
    margin-left: -20px;
    margin-bottom: 10px;
}

.card-body__header img {
    width: 70px;
    height: 70px;
}

.card-body__header .card-title {
    /* text-align: center; */
    text-transform: capitalize;
    font-weight: 700;
    margin-top: 20px;
    margin-left: 10px;
}


/* ==========================================================================
  Vision
   ========================================================================== */

.vision {
    padding: 20px 0 20px;
    margin: 0 0 20px;
}

.vision--container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.vision hr {
    border: 2px solid #832153;
    width: 7rem;
}

.vision .card {
    border: none;
}

.vision .card-header {
    background: #fff;
    text-transform: capitalize;
    text-align: left;
    border: none;
    font-weight: 700;
}

.vision .card-body {
    font-weight: 500;
    line-height: 25px;
}

.vision .card-img-top {
    width: 90%;
    display: block;
    margin: 10px auto 20px;
}

.card-footer {
    display: flex;
    justify-content: flex-start;
    background: #fff;
    border: none;
}

.btn-more {
    background: #6a304e;
    color: #fff;
}

.btn-more:hover {
    background: #fff;
    color: #832153;
}


/* ==========================================================================
  Services
   ========================================================================== */

.services {
    padding: 20px 0 30px;
    background-color: rgba(33, 131, 129, .05);
}

.services hr {
    border: 2px solid #832153;
    width: 7rem;
}

.services .card {
    padding: 20px 0 10px;
    margin: 20px 0 0;
    border: none;
}

.services .card-img-top {
    display: block;
    margin: 0 auto;
    width: 70px;
    height: 70px;
}

.services .card-title {
    text-align: center;
    text-transform: capitalize;
    font-weight: 700;
}

.services .card-text {
    font-weight: 500;
    font-size: 1.1em;
}


/* ==========================================================================
 Products
   ========================================================================== */

.products {
    padding: 20px 20px 30px;
    margin: 0 0 40px;
}

.products hr {
    border: 2px solid #832153;
    width: 7rem;
}


/* .products__row {
    display: flex;
    flex-direction: row;
    justify-content: center;
} */

.products .card {
    width: 50%;
    border: none;
    /* margin: 0 5px 0; */
}

.products .card__two,
.products .card__one {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    border: none;
    margin: 0 0 20px;
}

.products .card-header {
    background: rgba(33, 131, 129, .35);
    border: none;
    color: #212529;
    text-align: center;
    text-transform: capitalize;
    padding: 5px 0 0;
}

.products .card-img-top {
    width: 100%;
    height: 50%;
}

.btn-ownit {
    background: #6a304e;
    color: #fff;
}

.btn-ownit:hover {
    background: #fff;
    color: #832153;
    border: 1px solid #6a304e;
}


/* ==========================================================================
 Inquries
   ========================================================================== */

.inquires {
    background-color: rgba(33, 131, 129, .05);
    padding: 30px 0 20px;
}

.inquires span {
    border-left: 2px solid rgba(33, 131, 129, .2);
    padding-left: 20px;
}

.inquires__info div {
    margin: 20px 0;
    display: flex;
}

.inquires__info div h3 {
    text-transform: capitalize;
}

.inquires__info img {
    /* display: block;*/
    margin: 20px 15px 0;
    width: 40px;
    height: 40px;
}


/* ==========================================================================
  Footer
   ========================================================================== */

footer {
    background: rgba(131, 33, 83, .9);
    padding: 10px 0 0;
}

footer .row {
    display: flex;
    justify-content: center;
}

footer p {
    color: #fff;
    font-weight: 400;
}

@media screen and (max-width: 790px) {
    /* ==========================================================================
  Features
   ========================================================================== */
    .features__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 10px;
        width: 50%
    }
    /* .features .card {
        display: block;
        margin: 20px 0 0;
        border: none;
    } */
    .services {
        padding: 20px 0 30px;
        background-color: rgba(33, 131, 129, .05);
        width: 100%;
    }
    .services__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .services .card {
        padding: 10px 0 10px;
        margin: 20px 20px 0;
        border: none;
    }
}

@media screen and (min-width: 800px) {
    /* ==========================================================================
   Navigation 
   ========================================================================== */
    .bosscoop__navbar {
        background-color: rgba(131, 33, 83, 1) !important;
        ;
        /* background-color: rgba(33, 131, 129, .5) !important; */
        z-index: 3;
        padding-top: 10px;
    }
    .bosscoop__navbar--anchor,
    .bosscoop__navbar--anchor:active {
        color: #fff !important;
        text-transform: uppercase;
    }
    .bosscoop__navbar--text,
    .bosscoop__navbar--hr {
        color: #fff!important;
        visibility: visible;
        margin: 0 5px;
    }
    .navbar__div {
        margin-left: 100px;
    }
    .navbar-nav {
        margin-right: 100px;
        color: #fff !important;
    }
    /* .bosscoop__navbar button {
        background-color: transparent !important;
        border-color: transparent !important;
        color: #fff !important;
        display: none;
    } */
    .navbar-nav li a {
        color: #fff !important;
    }
    /* ==========================================================================
   Carousel
   ========================================================================== */
    /* ==========================================================================
  Features
   ========================================================================== */
    .features .card {
        margin: 20px 0 0;
        border: none;
        width: 33.3333333% !important;
    }
    /* ==========================================================================
  Vision
   ========================================================================== */
    /* ==========================================================================
  Services
   ========================================================================== */
    .services .container {
        width: 100%;
    }
    .services .card {
        padding: 10px 0 10px;
        margin: 20px 0 0;
        border: none;
    }
}